<div class="models-info">
    <div class="models-info__header">
        <h1 class="models-info__title">Информация о проекте</h1>
    </div>
    <div class="models-info__content">
        <p class="models-info__text">В данном разделе представлена информация о проекте, исследовании и моделях, используемых
            для прогнозирования профиля автора текста.</p>

        <p class="models-info__text">Ниже располагается меню с рекомендованными к использованию моделями. Для просмотра детальной информации о модели выберите её название в меню ниже.</p>

        <p class="models-info__text">Переход на страницу интересующей модели осуществляется нажатием на кнопку "О модели" соответствующей карточки. На странице модели вы найдете расширенную информацию: описание её архитектуры, особенности и подходы к обучению, сведения об использованных данных, а также значения достигнутых метрик качества.</p>
    </div>
</div> <!-- /.models-info -->