<section class="section container" id="predictionPlaceholder">
    <div class="section-wrapper">
        <h2 class="section__title">Данные о профиле отсутствуют</h2>
        <div class="section__content">

            <div class="prediction-placeholder">
                <h3>Прогноз еще не сделан</h3>
                <p>Загрузите текст для анализа, чтобы получить результаты прогноза автора.</p>
                <a class="btn" href="/" data-variant="primary">Перейти на страницу</a>
            </div>

        </div> <!-- /.section__content-->
    </div> <!-- /.section-wrapper-->
</section> <!-- /.section container-->