<section class="section container hidden" id="predictionMetrics">
    <div class="section-wrapper">
        <h2 class="section__title">Извлеченные метрики</h2>
        <div class="section__content">
            <div class="metrics" id="groupsContainer">

            </div>
        </div> <!-- /.section__content-->
    </div> <!-- /.section-wrapper-->

    <details class="metrics-group hidden" id="groupPrototype">
        <summary class="metrics-group__summary">
            <span class="metrics-group__title">Лексические метрики</span>
        </summary>

        <div class="metrics-group__content">
            <ul class="metrics-group__list">

            </ul>
        </div>
    </details> <!-- .metrics-group -->

    <li class="metric hidden" id="metricPrototype">
        <span class="metric__name">Средняя длина слова</span>
        <span class="metric__value">4.72</span>
    </li>
    
</section> <!-- /.section container-->